.form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin: 12px 0px 12px 0px;
    padding: 12px 16px;
    font-weight: 600;
    color: #111616;
    border: none;
    width: 100%;
    font-size: larger;
    border-radius: 8px;
    cursor: pointer;
    width: 80%
  }
  
  .form-submit:hover {
    background-color:#23554f;
    color:#fcf6f6
  }
  .save-profile-btn{
    margin-top: 0;
    width: 20%
}