.score-page-title{
    margin: 10px 0px 10px 30px;
    width:50%;
    border-bottom: 1px solid #111;
    padding-bottom: 10px;
}
.average-score, .detail-score{
    margin: 30px 30px 30px 30px;
    border:solid 1px rgb(122, 122, 122);
    padding:10px
}
Table{
    text-align: center;
    vertical-align: middle;
}
th, td {
    vertical-align: middle;
}